<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main>
        <h1>Cadastro</h1>
        <form action="cadastro.html/submit" method="POST">
            <input type="text" name="nome" placeholder="Nome">
            <input type="number" step="0.1" name="preco" placeholder="Preço">
            <input type="number" name="estoque" step="1" pattern="\d+" title="Somente números inteiros" placeholder="Estoque">
            <input type="text" name="img" placeholder="URL da imagem">
            <input type="text" name="categoria" placeholder="Categoria">
            <button>CADASTRAR</button>
        </form>
        <p id="resp">{{ resp }}</p>
        <a class="btngeral" href="../estoque.html">ESTOQUE</a>
    </main>
</body>
</html>