<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <main>
        <h1>Carrinho de compras</h1>
        <a class="limpa_carrinho" href="{{ url_for('del_todo_carrinho')}}"><p> <span class="material-symbols-outlined">delete_forever</span>Limpar carrinho</p></a>
        <table id="lista">
            <tr>     
                <th class="outros">ID</th>           
                <th id="nome">Nome</th>
                <th class="outros">Preço</th>
                <th class="outros">Quantidade</th>
                <th class="outros">Foto</th>
                <th class="outros">Categoria</th>
                <th class="outros">Ações</th>
            </tr>
            {% for p in itens %}
                <tr>  
                    <td>{{p[0]}}</td>
                    <td>{{p[1]}}</td>
                    <td>R$ {{p[2]}}</td>
                    <td><a class="flecha" href="{{ url_for('diminui_item', id=p[0])}}"><span class="material-symbols-outlined">
                        <span class="material-symbols-outlined">chevron_left</span>
                        </span></a>
                        {{p[3]}}
                        <a href="{{ url_for('aumenta_item', id=p[0])}}" class="flecha"><span class="material-symbols-outlined">chevron_right</span></a></td>
                    <td><img src="{{p[4]}}"></td>
                    <td>{{p[5]}}</td>
                    
                    <td>
                        <a id="btndel" href="{{ url_for('del_produto_carrinho', id=p[0])}}"><span class="material-symbols-outlined">delete</span></a>
                    </td>        
                </tr>
            {% endfor %}
            <tr>
                <td colspan="5">Total da compra:</td>
                <td colspan="2">R$ {{total}}</td>
            </tr>
        </table>
        <a href="{{ url_for('finalizar_compra')}}" class="btngeral">FINALIZAR COMPRA</a>
        <a class="btngeral" href="/site.html">SITE</a>
    </main>
    
</body>
</html>