<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main>
        <h1>Editar produto</h1>
        <p id="resp">{{ resp }}</p>
        <img id="imgprod" src="{{img}}">
        <form action="../editarproduto.html/submit" method="POST">
            <input type="number" name="id" value="{{id}}" max="{{id}}" min="{{id}}" required>
            <input type="text" name="nome" placeholder="Nome" value="{{nome}}">
            <input type="number" step="0.1" name="preco" placeholder="Preço" value="{{preco}}">
            <input type="number" name="estoque" placeholder="Estoque" value="{{estoque}}">
            <input type="text" name="img" placeholder="URL da imagem" value="{{img}}">
            <input type="text" name="categoria" placeholder="Categoria" value="{{categoria}}">
            <button>SALVAR</button>
        </form>
        
        <a class="btngeral" href="../estoque.html">ESTOQUE</a>
    </main>
</body>
</html>