<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <main>
        <h1>Estoque</h1>
        <table id="lista">
            <tr>
                <th id="id">ID</th>
                <th id="nome">Nome</th>
                <th class="outros">Preço</th>
                <th class="outros">Estoque</th>
                <th class="outros">Foto</th>
                <th class="outros">Categoria</th>
                <th colspan="2" class="outros">Ações</th>
            </tr>
            {% for produto in produtos %}
                <tr>
                    <td>{{produto[0]}}</td>
                    <td>{{produto[1]}}</td>
                    <td>R$ {{produto[2]}}</td>
                    <td>{{produto[3]}}</td>
                    <td><img src="{{produto[4]}}"></td>
                    <td>{{produto[5]}}</td>
                    <td>
                        <a href="{{ url_for('btn_editar_produto', id=produto[0]) }}" id="btnedit"><span class="material-symbols-outlined">edit</span></a>
                    </td>
                    <td>
                        <a id="btndel" href="{{ url_for('del_produto', id=produto[0])}}"><span class="material-symbols-outlined">delete</span></a>
                    </td>        
                </tr>
            {% endfor %}
        </table>
        <a class="btngeral" href="/cadastro.html">Cadastrar produto</a>
        <a class="btngeral" href="/">Index</a>
    </main>
    
</body>
</html>