<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    
    <div id="music-library"></div>

<script>
    var currentAudio = null
    // Função para carregar a biblioteca de músicas via AJAX
    function loadMusicLibrary() {
        $.ajax({
            url: '/api/music_library',
            type: 'GET',
            success: function(data) {
                var musicLibrary = $('#music-library');                 
                data.forEach(function(song) {
                    musicLibrary.append(`
                    <p id="song-info"></p>
                    <audio id="audio-player" controls>
                        <source src="${song.file}" type="audio/mp3">
                        Seu navegador não suporte áudio
                    </audio>
                    `);
                }
                )
                
            },
            error: function(error) {
                console.log('Erro ao carregar a biblioteca de músicas:', error);
            }
        });
    }

    // Carregue a biblioteca de músicas quando a página for carregada
    $(document).ready(function() {
        loadMusicLibrary();
    });
</script>
</body>
</html>